@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/static/fonts/Oswald-VariableFont_wght.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: #fefefe;
    font-family: Montserrat, sans-serif;
}

header {
    background-color: #fff;
}


footer {
    min-height: 150px;
}

/*main {
    margin-bottom: 200px;
}*/

/**
 * 
 * Home page
 * 
 * */



/**
 *
 * Buttons
 *  
 **/

.btn-info {
    background-color: #dce8ae !important;
    color: #383c2c !important;
    border: #89926a !important;
}

.btn-info:hover {
    background-color: #cedf8e !important;
    color: #383c2c !important;
    border: #89926a !important;
}

.btn-info:active {
    box-shadow: #dce8ae !important;
}

.btn-info:focus {
    box-shadow: 0 0 0 .25rem #dce8ae !important;
}

/**
 * 
 * Form
 * 
 * */

.form-control {
    background-color: #fff !important;
}

.output-field {
    background-color: #dce8ae;
    width: 100%; 
    min-height:50px;
}

/**
 * 
 * Badges
 * 
 * */

.badge-sm {
    height: .9em;
    font-weight: normal !important;
    /*font-size: .7em;*/
}

.bg-language {
    background: #FFD4E5;
    color: #7F6472;
}

.bg-script, .bg-script-type {
    background: #FFDFBA;
    color: #6A5D4E;
}

.bg-hands {
    background: #DBDCFF;
    color: #575866;
}

.bg-flags {
    background: #F9A7A7;
    color: white;
}


.bg-software {
    background: #C0F4B8;
    color: #607A5C;
}

.bg-volumes {
    background: #D5E9FF;
    color: #638BB9;
}

.bg-license {
    background: #CAFEFF;
    color: #5A8B8F;
}

.bg-link {
    background: #78abd6;
    color: white;
}

/**
 * 
 * Catalog
 * 
 * */

.catalog-card {
    width: 45%;
    margin:1%;
    float: left;
}

@media (max-width: 1024px) {
    .catalog-card {
        width: 98%;
        margin:1%;
        float: none;
    }
}

#card-receiver.single .catalog-card {
    display: block;
    float: none;
    margin: 0 3em;
    width: auto;
}

@media (max-width: 1024px) {
    .catalog-card {
        width: 98%;
        margin: 0 auto;
        float: none;
    }
}

.card .secondary-header {
    /*border-top: 1px solid rgba(0,0,0,.125);*/
    padding: .8em 1rem .4em;
}

.card hr {
    margin: .5em 0;
}
.card h6 {
    color: #616b39;
    /*font-family: "Oswald";*/
    font-size: 1em;
    text-align: right;
    display: block;
    padding-bottom: 0;
}
.card h7 {
    /*font-weight: bold;*/
    color: #6c757d;
    /*font-family: "Oswald";*/
    font-size: .9em;
    text-align: right;
    display: block;
    padding-bottom: 0;
}
.card em, .card b {
    color: #363a3e;
    /*font-family: "Oswald";*/
    font-stretch: 120%;
    /*font-weight: 500;*/
}

.card h8 {
    font-weight: bold;
    color: #6c757d;
    font-family: "Oswald";
    font-size: .9em;
    display: block;
    padding-bottom: 0;
    color: #363a3e;
    font-family: "Oswald";
    font-stretch: 120%;
    font-weight: 500;
}
.card-header {
    background-color: #dce8ae !important;
    color: #616b39;
    font-weight: bold;
    /*padding: 1rem;*/
}

.card-body:not(:first-of-type) {
    border-top: 1px solid rgba(0, 0, 0, 0.09);
}
.card-text, .card-body > p, .card-body > ul {
    font-size: 0.9em;
}

.transcriptionRules, .citation {
    display: none;
}

.show-guidelines .transcriptionRules, .show-citations .citation {
    display: block;
}

.citation pre {
    height: 120px;
    overflow: scroll;
    background-color: #ddd;
    margin: .3em;
    padding: .3em;
}
#card-receiver.single .citation pre {
    overflow: none;
    height: auto;
}

.citation .fa-copy {
    cursor: pointer;
}
